<div class = customer>
  <h2>
    <%= customer.full_name %>
  </h2>

  <p>
    <%= image_tag customer.image %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone_number %>
  </p>

  <% unless customer.email_address.nil? || customer.email_address.empty? %>
    <p>
      <strong>Email:</strong>
      <u><%= customer.email_address %></u>
    </p>
  <% end %>

  <p>
    <strong>Province:</strong>
    <% if customer.province.nil? %>
      None
    <% else %>
      <%= customer.province.name %>
    <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>
</div>
